{% extends 'blog/base.html' %}
{% block title %}Удаление статьи{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <p class="card-text">Действительно хотите удалить <b>{{ object.title }}</b>?</p>
                    <div class="card-body">
                        {% csrf_token %}
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Удалить</button>
                    <a class="btn btn-primary" href="{% url 'blog:paper_list' %}" role="button">Отменить</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}