{% extends 'blog/base.html' %}
{% block title %}Страница статьи{% endblock %}
{% block content %}
<body class="text-center">
<h1>Информация о статье</h1>
<p>Заголовок: {{ object.title }}</p>
<p>Содержимое: {{ object.description }}</p>
<p>Изображение: <img src="/media/{{ object.image }}" alt="{{ object.title }}"></p>
<p>Дата создания: {{ object.created_at }}</p>
<p>Признак публикации: {{ object.publication }}</p>
<p>Количество просмотров: {{ object.views }}</p>
<a class="btn btn-primary" href="{% url 'blog:paper_list'%}" role="button">Назад</a>
</body>
{% endblock %}